html, header {
    height: 100%;
}

body {
    text-align: left;
    color: black;
    font-family: helvetica;
}

header {
    text-align: center;
    background: url("sunset.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    min-height: 100%;
    color: white;
    
}

.profile-img {
    float: left;
    margin: 25px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

h1 {
    padding-top: 250px;
    font-size: 70px;
}

.tagline {
    padding: 25px;
    margin-top: 100px;
}

.links {
    float: right;
    margin-right: 20px;
    padding-right: 20px;
}

.navbar {
    background-color: rgba(0,0,0,0.5);
}

.content {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    padding-top: 25px;
}

.title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 25px;
}

@media (max-width: 800px) {
    h1 {
        font-size: 36px;
    }
}

